PORT=3000
JWT_SECRET=cambiar_por_clave_secreta_larga
DB_PATH=/data/control_horario.db
ADMIN_USERNAME=webgest
ADMIN_PASSWORD=Webgest2026!
TZ=Europe/Madrid
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=